<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar Usuarios"
            #input
          />
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button" (click)="clear()">
              Clear
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="cargando" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando...</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>
<div *ngIf="usuarios.length === 0" class="card">
  <h2 class="text-center text-danger p-5">
    No se encontraron usuarios con la palabra "{{ termino }}"
  </h2>
</div>
<div class="row" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Total de usuarios {{ totalUsuarios }}</h4>
        <h6 class="card-subtitle">Usuarios registrados en la aplicación</h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th>Role</th>
                <th>Auth</th>
                <th class="text-nowrap">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td>
                  <img
                    src="{{ usuario.imagenUrl }}"
                    alt="Avatar"
                    class="avatar cursor"
                    (click)="abrirModal(usuario)"
                  />
                </td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>
                  <select
                    class="form-control"
                    [(ngModel)]="usuario.role"
                    (change)="cambiarRole(usuario)"
                  >
                    <option value="ADMIN_ROLE">Admin</option>
                    <option value="USER_ROLE">User</option>
                  </select>
                </td>
                <td>
                  <div class="mt-3">
                    <span *ngIf="usuario.google" class="label label-danger"
                      >Google</span
                    >
                  </div>
                  <div class="mt-3">
                    <span *ngIf="!usuario.google" class="label label-info"
                      >Email</span
                    >
                  </div>
                </td>

                <td class="text-nowrap">
                  <div class="container-img mt-3">
                    <a
                      (click)="eliminarUsuarios(usuario)"
                      data-toggle="tooltip"
                      data-original-title="Borrar"
                      class="cursor"
                    >
                      <i class="fa fa-close text-danger"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="container-img" *ngIf="input.value.length === 0">
          <button (click)="cambiarPagina(-5)" class="btn btn-secondary">
            Anteriores
          </button>
          &nbsp;
          <button (click)="cambiarPagina(5)" class="btn btn-secondary">
            Siguientes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
